/* Gobal Styles */ 
body {
    margin: 0; 
    padding: 0; 
}

/* Header Styles */
header {
    background-color: #5A818A;
    width: 100%; 
    margin-bottom: 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
}

header h1 {
    font-family: 'Raleway'; 
    color: #fff; 
    margin: 5px; 
}

/* Footer Styles */ 
footer {
    background-color: #5A818A;
    color: #fff; 
}

footer p {
    margin: 10px; 
}

/* Main Styles */ 
main {
    background-image: url("../images/kitchen_background.jpg");
    background-size: cover;
}


/* Form Styles */ 
#logout {
    border: none; 
    cursor: pointer;
    background-color: #5A818A;
    color: #fff;
    padding: 15px; 
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

#logout:hover {
    background-color: #496C74;
    transform: scale(1.05);
}

.explore_recipe_section {
    background-image: url('../images/current_reciepes_background.jpg');
    background-size: cover;
}

.create_recipe_section {
    background-image: url('../images/my_recipes_background.jpg');
    background-size: cover;
}