/* Gobal Styles */ 
body {
    margin: 0; 
    padding: 0; 
}

/* Header Styles */
header {
    background-color: #5A818A;
    width: 100%; 
    margin-bottom: 2px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
}

header h1 {
    font-family: 'Raleway'; 
    color: #fff; 
    margin: 5px; 
}

/* Footer Styles */ 
footer {
    background-color: #5A818A;
    color: #fff; 
}

footer p {
    margin: 10px; 
}

/* Main Styles */ 
main {
    background-image: url("../images/kitchen_background.jpg");
    background-size: cover;
}

#recipes_heading {
    margin-top: 200px;
}


/* Form Styles */ 
#logout {
    border: none; 
    cursor: pointer;
    background-color: #5A818A;
    color: #fff;
    padding: 15px; 
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

#logout:hover {
    background-color: #496C74;
    transform: scale(1.05);
}

.call_to_action_section {
    margin-top: 100px;
}
.explore_recipe_section {
    background-image: url('../images/current_reciepes_background.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
    margin: 25px; 
    color: #000; 
    height: 400px;
    width: 400px;
    padding-top: 25px;
    align-items: center;
}

.explore_recipe_section h3 {
    margin-left: 25px; 
    margin-right: 25px;
}

.explore_recipe_section button {
    margin-top: 15px;
    width: 50%; 
    border: none; 
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    background-color: #fff;
}


.explore_recipe_section button:hover {
    background-color: #F0F0F0;
    transform: scale(1.05);
}

.create_recipe_section h3 {
    margin-left: 25px; 
    margin-right: 25px;
}

.create_recipe_section button {
    margin-top: 15px;
    width: 50%; 
    border: none; 
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    background-color: #fff;
}

.create_recipe_section button:hover {
    background-color: #F0F0F0;
    transform: scale(1.05);
}
.create_recipe_section {
    background-image: url('../images/my_recipes_background.jpg');
    background-size: cover;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
    margin: 25px; 
    color: #000; 
    height: 400px;
    width: 400px;
    padding-top: 25px;
    text-align: right;
    align-items: center;
}


.grid-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; 
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #000;
    padding: 15px;
}