/* Gobal Styles */ 
body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

/* Header Styles */
header {
    background-color: #3C5152;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
    font-family: 'Raleway'; 
}

header h1 {
    color: #fff; 
}

header nav a {
    text-decoration: hidden;
    color: #fff; 
}

header nav a:hover {
    border: 2px solid #000; 
    background-color: #000;
}


/* Footer Styles */ 
footer {
    background-color: #3C5152;
    color: #fff; 
}

footer p {
    margin: 10px; 
}

/* Main Styles */ 
main {
    background-image: url("../images/kitchen_background.jpg");
    background-size: cover;
}


/* Form Styles */ 
form {
    padding: 35px;
    border-radius: 20%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
    background-color: #fff;
}

label {
    font-family: 'Lato';
}

#login_submit_button {
    background-color: #CDA15B;
    border-color: #272C2C; 
}

#login_submit_button:hover {
    background-color: #f5e089;
    color: #333;
}